<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<title>RemitMas</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="description" content="RemitMas Dashboard">
	<meta name="author" content="RemitMas">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,700' rel='stylesheet' type='text/css'>

	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	 <!-- <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet"> -->

	
	<link href="/assets/user/uiPage.css" type="text/css" rel="stylesheet">
	<link href="/assets/user/styles.css" type="text/css" rel="stylesheet">
	
	<link href="/assets/plugins/jstree/dist/themes/avalon/style.min.css" type="text/css" rel="stylesheet">
	<link href="/assets/plugins/codeprettifier/prettify.css" type="text/css" rel="stylesheet">
	<link href="/assets/plugins/iCheck/skins/minimal/blue.css" type="text/css" rel="stylesheet">
	<link href="/assets/plugins/Ion.RangeSlider/css/ion.rangeSlider.css" type="text/css" rel="stylesheet">                    <!-- Ion Range Slider -->
	<link href="/assets/plugins/Ion.RangeSlider/css/ion.rangeSlider.skinNice.css" type="text/css" rel="stylesheet">           <!-- Ion Range Slider Default Skin -->
	<link href="/assets/plugins/form-daterangepicker/daterangepicker-bs3.css" type="text/css" rel="stylesheet">    	<!-- DateRangePicker -->
	<link href="/assets/plugins/switchery/switchery.css" type="text/css" rel="stylesheet">        					<!-- Switchery -->
	<link href="/assets/plugins/fullcalendar/fullcalendar.css" type="text/css" rel="stylesheet"> 
	<link href="/assets/plugins/card/lib/css/card.css" type="text/css" rel="stylesheet">
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body class="infobar-offcanvas">

<%= yield %>

</body>
<script src="/assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
<script src="/assets/js/jqueryui-1.9.2.min.js"></script> 							<!-- Load jQueryUI -->
<script src="/assets/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->

<script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script> 	<!-- Slimscroll for custom scrolls -->
<script src="/assets/plugins/sparklines/jquery.sparklines.min.js"></script>  		<!-- Sparkline -->
<script src="/assets/plugins/jstree/dist/jstree.min.js"></script>  				<!-- jsTree -->

<script src="/assets/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->
<script src="/assets/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		<!-- Swith/Toggle Button -->

<script src="/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

<script src="/assets/plugins/iCheck/icheck.min.js"></script>     					<!-- iCheck -->

<script src="/assets/js/enquire.min.js"></script> 										<!-- Enquire for Responsiveness -->

<script src="/assets/plugins/bootbox/bootbox.js"></script>					<!-- BOOTBOX -->

<script src="/assets/js/application.js"></script>
<script src="/assets/demo/demo.js"></script>
<script src="/assets/demo/demo-switcher.js"></script>

<script src="/assets/plugins/simpleWeather/jquery.simpleWeather.min.js"></script> 

<!-- End loading site level scripts -->
    
    <!-- Load page level scripts-->
    
<script src="/assets/plugins/form-daterangepicker/daterangepicker.js"></script>     	<!-- Date Range Picker -->
<script src="/assets/plugins/form-daterangepicker/moment.min.js"></script>             <!-- Moment.js for Date Range Picker -->

<script src="/assets/plugins/easypiechart/jquery.easypiechart.js"></script> 			<!-- EasyPieChart -->
<script src="/assets/plugins/powerwidgets/js/powerwidgets.js"></script> 				<!-- PowerWidgets -->
<script src="/assets/plugins/switchery/switchery.js"></script>     					<!-- Switchery -->

<script src="/assets/plugins/fullcalendar/fullcalendar.min.js"></script>   			<!-- FullCalendar -->

<!-- Charts -->
<script src="/assets/plugins/charts-flot/jquery.flot.min.js"></script>             	<!-- Flot Main File -->
<script src="/assets/plugins/charts-flot/jquery.flot.stack.min.js"></script>       	<!-- Flot Stacked Charts Plugin -->
<script src="/assets/plugins/charts-flot/jquery.flot.pie.min.js"></script>  
<script src="/assets/plugins/charts-flot/jquery.flot.orderBars.min.js"></script>   	<!-- Flot Ordered Bars Plugin-->
<script src="/assets/plugins/charts-flot/jquery.flot.resize.min.js"></script>          <!-- Flot Responsive -->
<script src="/assets/plugins/charts-flot/jquery.flot.tooltip.min.js"></script> 		<!-- Flot Tooltips -->

<!-- Maps -->
<script src="/assets/plugins/jQuery-Mapael/js/raphael/raphael-min.js"></script>        <!-- Load Raphael as Dependency -->
<script src="/assets/plugins/jQuery-Mapael/js/jquery.mapael.js"></script>              <!-- jQuery Mapael -->
<!-- <script src="assets/plugins/jQuery-mousewheel/jquery.mousewheel.min.js"></script> -->     <!-- Mousewheel Support in zoomed-in maps -->
<script src="/assets/plugins/jQuery-Mapael/js/maps/world_countries.js"></script>       <!-- Vector Data of World Countries -->

<script src="/assets/plugins/Ion.RangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>      <!-- Ion Range Slider -->
<script src="/assets/demo/demo-custom-ionrange.js"></script>
<script src="/assets/demo/demo-index.js"></script> 
<script src="/assets/demo/demo-flotgraph.js"></script>
<script src="/assets/plugins/form-stepy/jquery.stepy.js"></script>  								<!-- Stepy Plugin -->
<script src="/assets/plugins/card/lib/js/card.js"></script> 										<!-- Card -->

<script src="/assets/js/uiPage.js"></script> 
</html>
